.tableHeader {
    padding: 8px 16px;
    text-align: center;
    border-bottom: 2px solid var(--background-light);
    font-weight: var(--font-weight-bold);
}

.tHead {
    /*background: var(--background-lighter);*/
}

.outerTableHeader {
    /*background-color: white;*/
}
