/* MY COLOURS */
:root {
    --base-hue: 240;
    --base-sat: 0%;
    --base: hsl(var(--base-hue), var(--base-sat), 12%);
    --base-light: hsl(var(--base-hue), var(--base-sat), 14%);
    --base-lighter: hsl(var(--base-hue), var(--base-sat), 30%);
    --base-dark: hsl(var(--base-hue), var(--base-sat), 10%);
    --base-darker: hsl(var(--base-hue), var(--base-sat), 8%);

    --box-titlebar-height: 24px;
}

.primaryContainer {
    min-height: 0;
    /*gap: 1px;*/
    display: grid;
    height: calc(100vh - var(--titlebar-height));
    width: 100%;
    background-color: var(--background-lighter);
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;
}

.secondaryContainer {
    min-height: 0;
    /*gap: 1px;*/
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.tertiaryContainer {
    min-height: 0;
    display: grid;
    /*height: 100%;*/
    width: 100%;
    background-color: var(--background-lighter);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.primaryContainer>*,
.secondaryContainer>*,
.tertiaryContainer>* {
    min-height: 0;
}

.chainBox {
    background-color: var(--background);
    height: 100%;
    border-left: 2px solid var(--background-light);
    border-top: 2px solid var(--background-light);
    /*border-right: 2px solid var(--background-light);*/
    border-bottom: 2px solid var(--background-light);
    border-radius: 8px;
}

.statesBox {
    background-color: var(--background);
    border-left: 2px solid var(--background-light);
    border-top: 2px solid var(--background-light);
    border-right: 2px solid var(--background-light);
    border-bottom: 2px solid var(--background-light);
    border-radius: 8px;
}

.controlsBox {
    background-color: var(--background);
    border-top: 2px solid var(--background-light);
    border-right: 2px solid var(--background-light);
    border-bottom: 2px solid var(--background-light);
    border-radius: 8px;
}

.graphBox {
    background-color: var(--background);
    border-left: 2px solid var(--background-light);
    border-top: 2px solid var(--background-light);
    border-right: 2px solid var(--background-light);
    border-bottom: 2px solid var(--background-light);
    border-radius: 8px;
}

.resizeVertical {
    position: absolute;
    background: transparent;
    z-index: 10;
    cursor: col-resize;
    width: 1px;
    left: 60%;
    top: var(--titlebar-height);
    bottom: 0;
    background-color: white;
}

.resizeHorizontal {
    position: absolute;
    background: transparent;
    z-index: 10;
    cursor: row-resize;
    height: 1px;
    top: calc(14px + 50%);
    left: 60%;
    right: 0;
    background-color: white;
}

.resizeVerticalInner {
    position: absolute;
    background: transparent;
    z-index: 10;
    cursor: col-resize;
    width: 1px;
    left: 80%;
    top: var(--titlebar-height);
    bottom: calc(50% - 14px);
    background-color: white;
}

/*
.mosaicDiv :global(.mosaic-split-line) {
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

.mosaicDiv :global(.mosaic-split.-row:hover) {
    background: var(--background-light);
    width: 4px;
    z-index: 5;
}

.mosaicDiv :global(.mosaic-split.-column:hover) {
    background: var(--background-light);
    height: 4px;
    z-index: 5;
}*/
