/* MY COLOURS */
:root {
    --base-hue: 240;
    --base-sat: 0%;
    --base: hsl(var(--base-hue), var(--base-sat), 12%);
    --base-light: hsl(var(--base-hue), var(--base-sat), 14%);
    --base-lighter: hsl(var(--base-hue), var(--base-sat), 30%);
    --base-dark: hsl(var(--base-hue), var(--base-sat), 10%);
    --base-darker: hsl(var(--base-hue), var(--base-sat), 8%);

    --box-titlebar-height: 24px;
}

.primaryContainer {
    /*gap: 1px;*/
    display: flex;
    height: calc(100vh - var(--titlebar-height));
    width: 100%;
    background-color: var(--background-lighter);
}

.secondaryContainer {
    /*gap: 1px;*/
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.tertiaryContainer {
    display: flex;
    /*height: 100%;*/
    flex: 1;
    width: 100%;
    background-color: var(--background-lighter);
}

.chainBox {
    background-color: var(--background);
    height: 100%;
    flex: 1.5;
    border-left: 2px solid var(--background-light);
    border-top: 2px solid var(--background-light);
    /*border-right: 2px solid var(--background-light);*/
    border-bottom: 2px solid var(--background-light);
    border-radius: 8px;
}

.statesBox {
    background-color: var(--background);
    border-left: 2px solid var(--background-light);
    border-top: 2px solid var(--background-light);
    border-right: 2px solid var(--background-light);
    border-bottom: 2px solid var(--background-light);
    border-radius: 8px;
    flex: 2;
}

.controlsBox {
    background-color: var(--background);
    border-left: 2px solid var(--background-light);
    border-top: 2px solid var(--background-light);
    border-right: 2px solid var(--background-light);
    border-bottom: 2px solid var(--background-light);
    border-radius: 8px;
    flex: 1;
}

.graphBox {
    background-color: var(--background);
    border-left: 2px solid var(--background-light);
    border-top: 2px solid var(--background-light);
    border-right: 2px solid var(--background-light);
    border-bottom: 2px solid var(--background-light);
    border-radius: 8px;
    flex: 1;
}

.boxTitlebar {
    height: var(--box-titlebar-height);
    font-size: var(--text-base);
    color: var(--background-lightest);
    font-family: var(--font);
    background-color: var(--background-light);
    font-weight: var(--font-weight-bold);
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxContent {
    height: calc(100% - var(--box-titlebar-height));
}

/*
.mosaicDiv :global(.mosaic-split-line) {
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

.mosaicDiv :global(.mosaic-split.-row:hover) {
    background: var(--background-light);
    width: 4px;
    z-index: 5;
}

.mosaicDiv :global(.mosaic-split.-column:hover) {
    background: var(--background-light);
    height: 4px;
    z-index: 5;
}*/
