:root {
    --node-colour: var(--background-light);
    --node-text-colour: var(--background-lightest);
    --arc-colour: var(--background-lighter);
    --node-selected-colour: var(--primary-foreground);
    --node-text-selected-colour: var(--primary);
    --node-arc-width: 2;
    --node-font: var(--font);
    --node-text-size: var(--text-base);
    --node-font-weight: var(--font-weight-semibold);
    --arrow-radius: 15;
    --node-border-radius: 8;
    --title-opacity: 1;
}

.base {
    height: 100%;
    width: 100%;
    /*background-color: transparent;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.chainArea {
    /*background-color: gray;*/
    height: 100%;
    position: relative;
    background-image: radial-gradient(var(--background-light) 2px, transparent 0);
    background-size: 40px 40px;
}

.chainCanvas {
    height: 100%;
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.nodeButton {
    /*border: 1px solid black;*/
    border-radius: 4px;
}

.icon {
    /*color: var(--background-lightest);*/
}

.toolbarOverlay {
    width: 100%;
    height: 40px;
    position: absolute;
    top: 0;
    pointer-events: none;
    z-index: 10;
}

.toolbarItem {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 4px;
    height: 100%;
    pointer-events: none;
}

.toolbarItem>* {
    pointer-events: auto;
}
