:root {
    --node-colour: var(--card);
    --node-text-colour: var(--background-lighter);
    --arc-colour: var(--background-light);
    --node-selected-colour: var(--accent);
    --node-connection-width: 1;
    --node-font: 'Fira Code';
    --node-text-size: 12px;
    --arrow-radius: 15;
    --node-border-radius: 8;
    --title-opacity: 1;
}

.base {
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chainArea {
    /*background-color: gray;*/
    height: 100%;
    position: relative;
}

.chainCanvas {
    height: 100%;
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.nodeButton {
    border: 1px solid black;
    border-radius: 4px;
}

.toolbarOverlay {
    width: 100%;
    height: 40px;
    position: absolute;
    top: 0;
    pointer-events: none;
    z-index: 10;
}

.toolbarItem {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 4px;
    height: 100%;
    pointer-events: none;
}

.toolbarItem>* {
    pointer-events: auto;
}
