
.base {
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nodeButton {
    border: 1px solid black;
    border-radius: 4px;
}